{% extends "rentacar_app/base_with_navbar.html" %}
    {% block active_car %}active{% endblock %}
    {% block body %}
        <div style="padding-left:20px">
            <h2>Welcome to cars rental page</h2>
            <form action="{% url 'rent_submit' %}" method="post" >
                {% csrf_token %}
                {{form.as_p}}
                <input type="hidden" value="{{car_id}}" name="car_id">
                <input class="btn btn-primary" type="submit" value="OK">
            </form>
        </div>
    {% endblock %}