<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Cars Panel</title>
</head>
<body>
    <h1>Cars panel</h1>
    <h3>Rented cars:</h3>
        <ul>
            <li>Empty</li>
        </ul>
    <h3>Available cars:</h3>
        <ul>
            {% if cars %}
                {% for car in cars %}
                    <li>{{ car.model }} : {{ car.plate }}
                        <form action="{% url 'cars_remove' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" value="{{car.id}}" name="car_id">
                            <input type="submit" value="Remove" >
                        </form>
                    </li>
                {% endfor %}
            {% else %}
                <li>Empty</li>
            {% endif %}

        </ul>

    <form action="{% url 'cars_register' %}">
        <input type="submit" value="Register Car">
    </form>
</body>
</html>