{% extends "rentacar_app/base_with_navbar.html" %}
    {% block active_customer %}active{% endblock %}
    {% block body %}
        <div style="padding-left:20px">
            <h1>Customer panel</h1>
            <h3>Registered users:</h3>
                <ul>
                    {% if customers %}
                        {% for customer in customers %}
                            <li>{{customer.name}} - {{customer.birthday}} - [{{customer.cpf}}]
                                 <form action="{% url 'customers_remove' %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{customer.id}}" name="customer_id">
                                    <input type="submit" value="Remove" >
                                </form>

                                <form action="{% url 'customers_register' %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{customer.id}}" name="customer_id">
                                    <input type="submit" value="Edit" >
                                </form>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>Empty</li>
                    {% endif %}
                </ul>

            <form action="{% url 'customers_register' %}">
                <input type="submit" value="Register Customer">
            </form>
        </div>
    {% endblock %}