{% extends "rentacar_app/base_with_navbar.html" %}
    {% block active_customer %}active{% endblock %}
    {% block body %}
        <div style="padding-left:20px">
            <h2>Welcome to customer register panel</h2>

            <form action="{% url 'customers_submit' %}" method="post" >
                {% csrf_token %}
                {{form.as_p}}
                <input type="hidden" value="{{form.input_id}}" name="customer_id">
                <input class="btn btn-primary" type="submit" value="OK">
            </form>
        </div>
    {% endblock %}